/* 1. Налаштування всієї сторінки */
body {
    background-color: white;
    background-image: url(../back/ramka.gif);
    background-repeat: repeat-y;
    background-position: left top;
    background-attachment: scroll; 
    margin: 0;
    padding: 0;
}

/* 2. Вимоги до заголовків 4-го рівня */
h4 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

/* 3. Групування параметрів: курсив для внутрішніх заголовків */
.column-1 h5, .column-2 h5 {
    font-style: italic;
    text-align: center;
}

/* 4. Спільні стилі для обох блоків */
.column-1, .column-2 {
    position: absolute; 
    top: 100px;         
    height: 120%;       
    border: 2px double red; 
    padding: 10px;      
    overflow-y: auto;   
    background-attachment: fixed;
    background-color: #e8e8e8; 
}

.column-1 p, .column-2 p {
    text-indent: 15px;  
    margin-bottom: 10px;
}

/* 5. Специфічні налаштування для першого блоку */
.column-1 {
    width: 600px;       
    left: 40px;        
    background-image: url(../back/bg_menu.gif);
    background-repeat: repeat-x;
    background-position: center; 
}

/* 6. Специфічні налаштування для другого блоку */
.column-2 {
    width: 400px;      
    
    left: 660px;        
    background-image: url(../back/bg_menu.gif);
    background-repeat: repeat-x;
    background-position: top;    
}