* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    transition: all linear .3s;
    z-index: 9999;

}

.navbar-nav {
    float: right;
    text-align: right;
}

.nav-item a {
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding-left: 14px !important;
}

.navbar-toggler {
    background: springgreen;
}

.nav-item a:hover {
    color: #c7b299 !important;
}

/* Bootstrap Overright css */
.navbar-toggler:hover {
    text-decoration: none;
    background: #b6c4c0f0;
}

.navbar-toggler {
    background: #9c9f9ef0;
}

/* javascript addClass *****************/
.add {
    background: rgba(0, 0, 0, 0.864);
    position: fixed;
    transition: all linear .3s;
    animation: alamin 2s;
}

@keyframes alamin {
    from {
        top: -100px;
    }

    to {
        top: 0;
    }
}

/* javascript addClass End****************/

/* Bennar Part Start============== */
#bennar {
    /* position: relative; */
    background: url(../images/banner-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bennar_overly {
    padding-top: 380px;
    padding-bottom: 380px;
    background: rgba(1, 1, 1, 0.7);
}

.bennar_text h4 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;

}
.bennar_text2 h4 {
    background: -webkit-linear-gradient(rgb(233, 17, 17), rgb(115, 226, 12));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;

}

.bennar_text h3 {
    color: #ffffff;
    font-size: 52px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;

}
.bennar_text2 h3 {
    background: -webkit-linear-gradient(rgb(233, 211, 17), rgb(12, 44, 226));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 52px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;

}

.bennar_text2 p {
    color: #168aad;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 47px;

}
.bennar_text p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 47px;

}

.bennar_text a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    line-height: 14px;
    font-family: 'Raleway', sans-serif;
    padding: 21px 45px 18px;
    background: #998675;
    border-radius: 5px;
    border-bottom: 3px solid #a1846e;
    transition: all linear .4s;
}

.bennar_text a:hover {
    background: linear-gradient(to left, #211b19, #4e3427);
}

/* Bennar Part End============== */

/*Service Part Start===========*/
#service {
    padding-top: 80px;
    /* padding-bottom: 80px; */
}

.service_item {
    padding-bottom: 80px;
}

.service_item i {
    font-size: 48px;
    color: #555555;
    transition: all linear .3s;
}

.service_item h3 {
    color: #555;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    padding-top: 25px;
    padding-bottom: 15px;
    transition: all linear .3s;

}

.service_item p {
    color: #8c8c8c;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    width: 255px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 30px;
}

.service_item p::after {
    position: absolute;
    width: 70px;
    height: 3px;
    background: #f1eee9;
    content: "";
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: all linear .3s;
}

.service_item:hover.service_item i {
    color: #c7b299;
}

.service_item:hover.service_item h3 {
    color: #c7b299;
}

.service_item:hover.service_item p::after {
    background: #c7b299;
}

/*Service Part End====================*/

/* Theme Part Strat */
#idea {
    padding-top: 75px;
    background: #fbfaf8;
}

.idea_content h4 {
    color: #555555;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.idea_content p {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    /* width: 770px;
    margin: 0 auto; */
}

.gellarys {
    padding-top: 20px;
}

/* Theme Part End */

/* Waxom button part start */
#waxom {
    padding-top: 42px;
    padding-bottom: 24px;
    background: linear-gradient(to right, #211b19, #4e3427);
}

.waxom_text h5 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.waxom_text h5 span {
    color: #c7b299;
}

.waxom_text p {
    color: #615855;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

#waxom .waxom_button a {
    color: #ffffff;
    background: #998675;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 28px;
    padding-right: 28px;
    border-bottom: 3px solid #736357;
    border-radius: 5px;
    transition: all linear .4s;
}

#waxom .waxom_button a:hover {
    background: linear-gradient(to left, #211b19, #4e3427);
}





